
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


html{
    overflow-x: hidden;
}
body{
    font-family:'Bai Jamjuree SemiBold';
    background-repeat: no-repeat;
    overflow-x: hidden;
    text-align: center;
    width: 100%;
    opacity: 25px;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Bai Jamjuree';
    

}
.head{
    background: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    padding-top: 0;
    background-size: cover;

}
.head img{
    padding-top: 20px;
    padding-bottom: 56px;
    position: relative;
    top: 53px;
    width: 125px;
}
.symbol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second{
    position: relative;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
.second h1{
    color: #4C545C;
    font-size: 46px;
    letter-spacing: -0.75px;
    font-weight: 600;
    width: 730px;
    padding-left: 365px; 
    padding-right: 365px;

}
.second p{
    color:#9EABB2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    letter-spacing: 0.15px;
    line-height: 30px;
    vertical-align: top;
    font-size: 20px;
    padding-bottom: 20px;

}
.paragraph{
    
    position: relative;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.paragraph h1{
 
    color: #4C545C;
    font-size: 36px;
    letter-spacing: -0.75px;
    font-weight: 600;
    width: 730px;
    padding-left: 365px; 
    padding-right: 365px;
   
}
.paragraph p{
    
    color:#9EABB2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    letter-spacing: 0.15px;
    line-height: 30px;
    vertical-align: top;
    font-size: 20px;
    padding-bottom: 20px;

}
button{
border: none;

}

.buttons{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons .one{
    width: 227px;
    height: 56px;
    background-color:  #26BBA4;
    border: none;
    border-radius: 28px;
    color: #fff;
    font-size: 18px;

     

}
.buttons .two{
    width: 227px;
    height: 56px;
    background-color:  #6174FF;
    border: none;
    border-radius: 28px;
    color: #fff;
    font-size: 18px;
    margin-left: 17px;

}
.fourth{
    position: relative;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 59px;
    }
.fourth h3{
    width: 730px;;
    color:  #4C545C;
    font-size: 36px;
    font-family: 'Bai Jamjuree';
    font-weight: 600;   
    display: flex;
    justify-content: center;

    

}
.icons{e
}
.fourth p{
 
    color:#9EABB2;
    text-align: center;
    width: 51%;
    padding-left: 93px;
    letter-spacing: 0.15px;
    line-height: 35px;
    vertical-align: top;
    font-size: 20px;
    padding-bottom: 20px;  
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: -2px;
}
.third{
    display: flex;
    padding-top: 22px;
    padding-bottom: 114px;
}
.image-computer{
    /*width: 752px;*/
    padding-bottom: 572px;
    margin-left: -155px;
    padding-right: 219px;
    width: 752px;
}
.image-computer img{
    width: 938px;
}
.third .items{
padding-left: 79px;      
width: 350px;
 
    
}
.item h2{
color: #4C545C;
font-size: 24px;
text-align: left;
font-family: 'Bai Jamjuree';
font-weight: 600;
}
.item p{
    
    font-size: 16px;
    color:  #9EABB2;
    text-align: left;
    line-height: 30px;

}
.first.two{
    margin-top: -465px;
    margin-left: -5px;
}
.first.two h1{
    color: #4C545C;
    margin-bottom: -10px;
    

        padding-left: 269px;
        font-size: 36px;
        width: 730px;
        font-weight: 600;
}
.first.two p{
    color:  #9EABB2;
    width: 770px;
    font-size: 16px;
    padding-left: 280px;
    line-height: 35px;
    padding-top: 17px;

}
.computers{
width: 812px;
padding-left: 200px;
padding-top: 86px;
}
.first h4{
    font-weight: 600;
    font-size: 36px;
    color: #4C545C;
    line-height: 45px;
    padding-bottom: 19px;
    text-align: left;
    padding-left: 300px;
}
.first p{
   color:  #9EABB2;
   font-weight: 400;
   font-size: 18px;
   width: 730px;
   text-align: center;
   padding-left: 200px;
   padding-bottom: 40px;
}
.first.fifth{
    padding-left: 94px;
    color: #9EABB2;
}




    

.list{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.part{
    display: flex;
    justify-content: space-between;
    margin: 120px 50px auto 260px;
}
.one.blacklists p{
    width: 52%;
    margin: auto;
    color: #9EABB2;
    line-height: 30px;
    }
    .one.blacklists h3{
        color: #4C545C;
        font-weight: 600;
        font-size: 24px;
    }
    .one.one.text p{
        width: 79%;
        margin: auto;
        color: #9EABB2;
        line-height: 30px;
    }
    .one.one.text h3{
        color: #4C545C;
        font-weight: 600;
        font-size: 24px;
    }
    .one.one.preview h3{
        color: #4C545C;
        font-weight: 600;
        font-size: 24px;
    }
.one.one.preview p{
    width: 86%;
    margin: auto;
    color: #9EABB2;
    line-height: 30px;

}
.one.one.text{

}
.container-flex{
    background: rgba(158, 171, 178, 0.1);
    margin-top: 61px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    margin-left: -209px;
    background-size: cover;
}
.container-flex .one{
    margin-left: 40px;
}
footer img{
    width: 60px;
    margin-top: 43px;
}
footer .one img{
    width: 100px;
    margin-left: 265px;
    margin-right: 135px;
    top:0 ;
}
.item.two{
padding-top: 80px;
}
.item.three{
    padding-top: 80px;
}
footer .social img:hover{
    background-color: #26BBA4;
}
footer ul{
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}
footer .container-flex{
    margin-bottom: 0;

}
footer ul a {
    color: #9EABB2;
    text-decoration:none;
}
footer .links li{
    padding: 10px;
    list-style-type: none;
    font-size: 18px;
    font-family:'Bai Jamjuree';
    line-height: 30px;
    letter-spacing: 0.14px;
    margin-top: 43px;
}
 footer .links li :hover{
   color: rgba(38, 187, 164, 1);
    
}
li a{
    text-decoration: none;
    color: #4C545C;
}
footer .social{

    margin-top: 20px;
    
} 
footer .social img{
    width: 24px;
}
footer .social img:not(:first-child){
    padding-left: 25px;



}
@media screen and (max-width:1440px){
    .one.blacklists p{
        width: 54%;
    }
    .one.one.text p{
        width: 82%;
    }
    .first.two p{
        width: 633px;
        padding-left: 357px;
    }
}
@media screen and (min-width:1025px) and (max-width:1200px){
    body{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .image-computer{
        padding-right: 0;
    }
    .item.two{
        padding-top: 30px;
    }
    .item.three{
        padding-top: 42px;
    }
    .image-computer img{
        width: 690px;
        padding-right: 0;
    }
    .first.two p{
        width: 647px;
    }
    .computers{
        padding-left: 61px;
    }
    .first.fifth{
        padding-left: 0;
    }
    .one.blacklists p{
        width: 80%;
    }
    .one.one.text p{
        width:125%;
        text-align: center;
        margin-left: -40px;
    }
    .one.one.preview p{
        width: 90%;
        margin-left: 30px;
    }
    .part{
        margin: 30px -11px auto 100px;
    }
}

@media screen and (max-width:2560px) and (min-width:1550px){
    body{
        width: 100%;
    }
    .second p{
        width: 29%;
    }
    .fourth p{
        width: 31%;
    }
    .image-computer img{
        width: 1555px;
    }
    .third .items{
        padding-left: 744px;
        width: 350px;
        padding-top: 70px;
    }
    .item h2{
        width: 200%;
    }
    .item p{
        width: 320%;
    }
    .item.one{
    
        padding-bottom: 40px;
    }
    .item.one p{
        width: 100%;
    }
    .item.two p{
        width: 100%;
    }
    .item.two{
        padding-bottom: 40px;
    }
    .item.three p{
        width: 100%;
    }
    .first.two{
        padding-left: 580px;
    }
    .computers{
        padding-left: 749px;;
    }
    .first.fifth{
        padding-left: 677px;
    }
    .list{
        display: flex;
        margin:  70px 500px 60px 70px;
        justify-content: center;
     
    }
    .part{
        display: flex;
        margin: 120px 320px 260px;
        justify-content: center;
    }
    .part img{
        margin-left: 100px;
        margin-right: 100px;
    }
    .first.two p{
        width: 598px;
    }
    .one.blacklists p{
        width: 49%;
    }
    .one.one.text p{
        width: 70%;
    }
    .one.one.preview p{
        width: 75%;
    }
    .paragraph p{
        width: 30%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    html{
        overflow-x: hidden;
    }
    body{
        width: 480px;
        overflow-x: hidden;
        
}
p{
    font-size: 16px;
}
.container{
    width: 100%;
}

.head{
    background: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 3000px 1000px;
    padding-top: 0;
background-size: contain;
padding-top: 0;
width: 485px;
overflow: hidden;
}
.head img{
    width: 150%;
    display: block;
   margin-left: auto;
   margin-right: auto; 
   padding-left: 350px;
}
.symbol{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
}
.second h1{
    width: 75%;
    padding-left: 362px;
    font-size: 32px;
    padding-right: 365px;
}
.second p{
    width: 74%;
    font-size: 16px;
    padding-left:0;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin-left: 0;
}
.buttons .one{
    margin-left: 0;
    margin-bottom: 30px;
    width: 311px;
 }
.buttons .two{
    margin-left: 0;
    width: 311px;
}
/* .list{
    display: flex;
    flex-direction: column;
} */
.fourth h3{
    width: 70%;
    font-size: 28px;
}
.item.one{
text-align: left;
margin-left: -59px;
padding-bottom: 30px;
}
.item.two{
margin-left: -47px;
padding-bottom: 30px;
}
.item.two p{
    width: 70%;
}
.item.three{
    margin-left: -47px;
}
.item.three h2{
    padding-left: 48px;
}
.fourth p{
    width: 73%;
    font-size: 16px;
}
.image-computer{
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-computer img{
    width: 312px;
    margin-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.first.two{
    margin-top: 0;
    padding-top: 129px;

}
.third .items{
    padding-left: 103px;
    padding-top: 60px;
    margin-left: 0;
}
.item p{
    width: 80%;
    text-align: center;
    font-size: 16px;
    margin-left: -2px;
}
.item h2{
    display: flex;
    padding-left: 82px;
}
.first.two{
    padding-left: 60px;
}
.first.two h1{
    padding-left: 20px;
    width: 80%;
    font-size: 28px;
}
.first.two p{
    padding-left: 16px;
    width: 85%;
    padding-bottom: 22px;
}
.computers{
    padding-left: 57px;
}
.computers img{
    width: 311px;
    margin-left: 0px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.first h4{
    width: 60%;
    padding-left: 82px;
    text-align: center;
    font-size: 28px;
}
.first p{
    padding-left: 50px;
    width: 70%;
    font-size: 16px;   
}
.list .one p{
    
    width: 74%;
    padding-left: 0;
     padding-right: 0%; 

}
.one.one.preview p{
    width: 70%;
}
.one.one.preview{
    padding-bottom: 70px;
}

.list .one h3{
}
.list .one img{
    margin-left: -30px;
}
.list .one.two p{
    width: 95%;
}
.list .one.three p{
    width: 99%;
    padding-left: 193px;
} 
.first.fifth{
padding-left: 1px;
}
.first.fifth p{
    padding-left: 60px;
    line-height: 30px;
}
.icons{
 padding-left: 132px;   
}
.one.blacklists{
    margin-left: 0;
    padding-bottom: 60px;

}
.one.preview h3{
    margin-left: 0;
}
.one.one.text p{

}
.paragraph h1{
    padding-left: 380px;
    width: 60%;
    text-align: center;
    display: flex;
    padding-bottom: 0;
    
    font-size: 28px;
}
.paragraph p{
    width: 383px;
    padding-left: 51px;
}
.second.two p{
    width: 73%;

}
.part img{
    width: 139px;
    padding-bottom: 59px;
}
.part{
    padding-left: 4px;
}
.part .one img{
    padding-left: 0;
    margin-left: 0;
}
.part .two img{
    margin-left: 0;
}
.part .three img{
    padding-left: 0;
    margin-left: 0;
}
.part .four img{
    padding-left: 0;
    margin-left: 0;
}
.part .five img{
    padding-left: 0;
    margin-left: 0;
}
footer .container-flex{
    display: flex;
    flex-direction: column;
    margin-left: 0;
}
.container-flex .one{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-left: 0;
}
footer .one img{
    margin-left: 0;
    margin-right: 0;
}

.links li  a{
    padding-left: 0;
}
footer .social{
    padding-left: 0;
}
footer .social img{
    padding-left: 0;
}
.list{
    flex-direction: column;
    margin: 0;

}
.one.preview{
    position: relative;
    margin-left: 0;
}
.one.text{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 70px;
}

.part{
    flex-direction: column;
    padding-left: 0;
    margin: 0;
}
.one.blacklists h3{
    margin-left: 0;
}
.one.one.text p{
    width: 75%;
    padding-left: 0;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third{
    display: flex;
    flex-direction: column;
    padding-top: 0;
}
.icons{
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
.google{
    position: relative;
    margin-left: 0;
}
.part img{
    position: relative;
    margin-left: 0;
}
.hp {
position: relative;
margin-left: 0;
}
.ibm img{
    margin-left: 0;
}
.vector img{
    margin-left: 0;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    html{
        overflow-x: hidden;
        margin-left: -100px;
    }
    body{
        width: 100%;
        overflow-x: hidden;
        margin-left: 42px;
    

}
p{
font-size: 16px;
}
.container{
overflow-x: hidden;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.head{
    background: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
background-size: cover;
padding-top: 0;
width: 1114px;
overflow-x: hidden;
}
.symbol{
display: flex;
justify-content: center;
align-items: center;
}
.second h1{
width: 35%;
padding-left: 348px;
font-size: 32px;
}
.second p{
width: 28.2%;
font-size: 16px;

}
.buttons{
   margin-left: 0;
   display: flex;
   flex-direction:  column;
   justify-content: center;
   align-items: center;

}
.buttons .one{
margin-left: 0;
margin-bottom: 30px;
width: 311px;
}
.buttons .two{
margin-left: 0;
width: 311px;
}
.third{
display: flex;
flex-direction: column;
padding-bottom: 0;
}
.second.fourth h1{
    margin-left: -600px;
}
.list{
display: flex;
flex-direction: column;
margin: 0;
justify-content: center;
align-items: center;
padding-left: 199px;
}
.image-computer img{
    width: 0;
}
.part{
display: flex;
flex-direction: column;
}
.list .one{
    
    padding-bottom: 69px;
    margin-left: 0;
    

}
.one.one.text p{
width: 65%;
text-align: center;
}
.one.one.preview p{
    width:  70%;
}
.part{
width: 139px;
}
.second.fourth{
display: flex;
}
.second.fourth p{
    padding-left: 0;
    width: 36%;
}
.fourth h3{
width: 30%;
padding-left :0;
font-size: 28px;
}
.fourth p{
width: 25%;
font-size: 16px;
padding-left: 0;
}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-computer{
display: flex;
justify-content: center;
align-items: center;
margin-left: 0;
padding-right: 0;
padding-bottom: 0;
}
.image-computer img{
width: 312px;
display: flex;
justify-content: center;
align-items: center;
}
.first.two{
margin-top: 0;
margin-left: 0;
padding-top: 129px;
padding-left: 0;
}
.third .items{
padding-left: 0;
padding-top: 60px;
}
.item p{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
text-align: center;
font-size: 16px;
padding-left: 15px;
}
.item h2{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.item.two p{
    width: 80%;
}
.first.two{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.first.two h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    text-align: center;
    padding-left: 0;
    font-size: 28px;
}


.first.two p{

    color: #9EABB2;
    width: 39%;
    font-size: 16px;
    padding-left: 0;
    line-height: 30px;
    padding-top: 17px;

}
.computers{
    
    display: flex;
    justify-content: center;
    align-items: center;
padding-left: 0;
padding-top: 63px;
}
.computers img{
width: 311px;
margin-left: 0px;
padding-left: 0px;
display: flex;
justify-content: center;
align-items: center;
text-align: left;
}
.first h4{
width: 50%;
padding-left: 0;
text-align: center;
font-size: 28px;
}
.first p{
padding-left: 14px;
width: 70%;
font-size: 16px;   
}
.list{
}
.first.fifth{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.first.fifth h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 0;
}
 .first.fifth p {
    width: 300px;
    line-height: 26px;
    margin-left: 0px;
    padding-left: 28px;

}
.part img{
width: 139px;
padding-left: 30px;
padding-bottom: 59px;
}
.part .two img {
    margin-left: 0;
    padding-left: 94px;
}
.part .one img{
    margin-left: 0;
    padding-left: 79px;
}
.part .three img{
    padding-left: 96px;
    margin-left: 0;
}
.part .four img{
    padding-left: 90px;
    margin-left: 0;
}
.part .five img{
    padding-left: 80px;
    margin-left: 0;
}
.paragraph{
    padding-left: 0;
}

.part{
padding-left: 156px;
}
footer .container-flex{
display: flex;
flex-direction: column;
width: 10000px;
margin-left: 0;
}
.container-flex .one{
display: flex;
align-items: center;
justify-content: center;
padding-left: 0;
margin-left: 0;
}
.links li  a{
padding-left :0;
}
footer .one img{
    margin-left: 0;
    margin-right: 0;
}
footer .social{
    padding-left: 0 ;
}
footer .social img{
padding-left: 60px;
}
.second.two h1{
    width: 32%;
    padding-left: 280px;
}
.paragraph h1{
    width: 413px;
    padding-left: 365px;
}
.paragraph p{
    
    width: 387px;
    line-height: 36px;
}
.buttons.last{
    padding-left: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one.text{
    position: relative;
}
.one.one.preview{
    position: relative;
}
.icons{
    display: flex;
    flex-direction: column;
 
}
.part{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: 0;
}
.google{
    position: relative;
    margin-left: 0;
    
}
.ibm img{
    position: relative;
    margin-left: 0;
    padding-left: 29px;
}
.hp{
    margin-left: 0;
    position: relative;
}
.vector img{
    margin-left: 0;
    position: relative;
}

.microsoft img{
    margin-left: 0;
    padding-left: 30px;
}
.list{
    padding-bottom: 0;
    padding-left: 0;
}

.item.one{
    padding-bottom: 40px;
}
.item.two{
    padding-bottom: 40px;
}
.one.blacklists p{
    width: 50%;
}
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
   /* html{
        overflow-x: hidden;
        }
    body{
        width: 100%;
        overflow-x: hidden;
    
    

}
.second h1{
    width: 29%;
    line-height: 40px;
}
.second p{
    width: 28%;
    line-height: 30px;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 170px;
    align-items: center;
}
.buttons .one{
    margin-left: 0;
    margin-bottom: 30px;
    width: 311px;
}
.buttons .two{
    margin-left: 0;
    width: 311px;
}
.fourth h3{
    width: 50%;
}
.fourth p{
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
}
.image-computer img{
    width: 312px;
}
.image-computer{
    margin-left: 0;
    padding-right: 0;
}
.third{
    display: flex;
    flex-direction: column;
}
}
 
/*@media only screen and (min-width:1534px){
.one.one.preview p{
    width: 85%;
}
.one.blacklists p{
    width: 54%;
}
.one.one.text p{
    width: 75%;
}

}